p {
    background:rgb(129, 255, 156);
    color: rgb(0, 0, 0);
    text-align: center;
}
.center-thing
{
    margin: auto;
}
.box{
    background-color: black;
    height: 100px;
    width: 100px;
}
table{
    border:0px solid black;
}
th{
    border:0px solid black;
}
td{
    border:0px solid black;
}
.center-parent{
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .containerflex {
    display: flex;                  /*Kích hoạt flexbox*/
    flex-direction:row;           /* Thiết lập hướng chính*/
    flex-wrap: wrap;             /*Thiết lập chế độ wrap, khi các phần tử vượt qua kích thước hướng chính*/
    justify-content: space-around;      /*Căn chỉnh nội dung bên trong container có flexbox*/
    align-items: center;           /*Căn chỉnh phần tử con theo hướng vuông góc hướng chính*/
    align-content: stretch;         /*Căn chỉnh hàng (cột) theo hướng vuông góc (chỉ hiệu lực khi nhiều hàng hoặc cột)*/

    padding: 4px;
    background: #9C27B0;
    min-width: 10px;
    height: 200px;
    margin: auto;
}

.flexitem {
    padding: 30px;
    background: lightblue;
    margin: 1px;
    font-weight: bold;
}